/* styles.css */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;   /* centra horizontalmente */
  align-items: center;       /* centra verticalmente */
  background: #69bce3;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 100%;
  max-width: 400px;
  background: #166ce59d;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo h1 {
  font-size: 20px;
  margin: 0;
}

.logo p {
  font-size: 12px;
  margin: 0;
  color: #555;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
}

.logout-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.menu-options {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.menu-options li {
  margin: 10px 0;
}

.menu-options a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

.menu-options a:hover {
  color: #0077b6;
}

.chat {
  text-align: right;
  margin-top: 20px;
  position: relative;
  font-size: 18px;
}

.badge {
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  position: relative;
  top: -10px;
  left: -5px;
}
